<%= stylesheet_link_tag "main" %>
<main>
  <aside class="user-sidebar">
    <img class="profile-pic" src="" alt="">
    <h3>User full name</h3>
    <h4>Username</h4>
    <p>Bio</p>
  </aside>
  <section>
    <div class="User-bar">
      <a href="#">Overview</a>
      <a href="/?tab=repositories">Repositories</a>
      <a href="/?tab=stars">Stars</a>
      <a href="/?tab=followers">Followers</a>
      <a href="/?tab=following">Following</a>
    </div>
    <% if params[:tab] == "repositories" %>
      <ul>
        <% @repositories.each do |repository| %>
        <li>
          <%= link_to repository.name, repository.url %><br>
          <%= repository.description %><br>
          <%= repository.language %>&nbsp;&nbsp;<%= repository.last_updated %>
        </li>
        <% end %>
      </ul>
    <% end %>
    <% if params[:tab] == "followers" %>
      <ul>
        <% @followers.each do |follower| %>
        <li>
          <img src="<%= follower.profile_pic %>" alt="">
          <%= link_to follower.screen_name, follower.url %><br>
        </li>
        <% end %>
      </ul>
    <% end %>
    <% if params[:tab] == "following" %>
      <ul>
        <% @following.each do |followed_user| %>
        <li class="followed_user">
          <img src="<%= followed_user.profile_pic %>" alt="profile-pic">
          <%= link_to followed_user.screen_name, followed_user.url, { class: 'user_screen_name'} %><br>
        </li>
      <% end %>
      </ul>
    <% end %>
    <% if params[:tab] == "stars" %>
      <ul>
        <% @starred_repos.each do |repository| %>
        <li class = "starred_repo">
          <%= link_to "#{repository.creator}/ #{repository.name}", repository.url, { class: 'repo_link'} %><br>
          <span class="repo_description"><%= repository.description %><br></span>
          <span class="repo_language"><%= repository.language %>&nbsp;&nbsp;</span>
          <%= link_to repository.stars, repository.stars_url, { class: 'repo_stars'} %>&nbsp;&nbsp;
          <% if repository.forks > 0 %><span class="repo_forks"><%= repository.forks %>&nbsp;&nbsp;</span><% end %>
          <span class="repo_updated_at"><%= repository.last_updated %></span>
        </li>
      <% end %>
      </ul>
    <% end %>
  </section>
</main>
