<%= stylesheet_link_tag "main" %>
<main>
  <aside class="user-sidebar">
    <img class="profile-pic" src="" alt="">
    <h3>User full name</h3>
    <h4>Username</h4>
    <p>Bio</p>
  </aside>
  <section>
    <div class="User-bar">
      <a href="#">Overview</a>
      <a href="/?tab=repositories">Repositories</a>
      <a href="/?tab=stars">Stars</a>
      <a href="/?tab=followers">Followers</a>
      <a href="/?tab=following">Following</a>
    </div>
    <% if params[:tab] == "repositories" %>
      <ul>
        <% @repositories.each do |repository| %>
        <li>
          <%= link_to repository.name, repository.url %><br>
          <%= repository.description %><br>
          <%= repository.language %>&nbsp;&nbsp;<%= repository.last_updated %>
        </li>
        <% end %>
      </ul>
    <% end %>
    <% if params[:tab] == "followers" %>
      <ul>
        <% @followers.each do |follower| %>
        <li>
          <img src="<%= follower.profile_pic %>" alt="">
          <%= link_to follower.screen_name, follower.url %><br>
        </li>
        <% end %>
      </ul>
    <% end %>
    <% if params[:tab] == "following" %>
      <ul>
        <% @following.each do |followed_user| %>
        <li class="followed_user">
          <img src="<%= followed_user.profile-pic %>" alt="profile-pic">
          <%= link_to followed_user.screen_name, followed_user.url, class: 'user_screen_name' %><br>
          <%= link_to followed_user.full_name, followed_user.url, class: 'user_full_name' %><br>
        </li>
      <% end %>
      </ul>
    <% end %>
  </section>
</main>
