<%= stylesheet_link_tag "main" %>
<main>
  <aside class="user-sidebar">
    <img class="profile-pic" src="" alt="">
    <h3>User full name</h3>
    <h4>Username</h4>
    <p>Bio</p>
  </aside>
  <section>
    <div class="User-bar">
      <a href="#">Overview</a>
      <a href="/?tab=repositories">Repositories</a>
      <a href="#">Stars</a>
      <a href="#">Followers</a>
      <a href="#">Following</a>
    </div>
    <% if params[:tab] == "repositories" %>
      <ul>
        <% @repositories.each do |repository| %>
        <li>
          <%= link_to repository.name, repository.url %><br>
          <%= repository.description %><br>
          <%= repository.language %>&nbsp;&nbsp;<%= repository.last_updated %>
        </li>
        <% end %>
      </ul>
    <% end %>
  </section>
</main>
